$black: #000000;
$blackTransparent: #00000030;
$grayDark: #727272;
$grayMid: #888888;
$grayLight: #eaeaea;
$primary: #524584;
$primaryLight: #aba4c2;
$primaryMid: #766b9c;
$primaryTransparent: #52458430;
$red: #e25050;
$white: #ffffff;
$white20: #f8f8f833;
$white70: #f8f8f8b3;
$whiteTint: #eceaf5;

:export {
  black: $black;
  blackTransparent: $blackTransparent;
  grayDark: $grayDark;
  grayMid: $grayMid;
  grayLight: $grayLight;
  primary: $primary;
  primaryLight: $primaryLight;
  primaryMid: $primaryMid;
  primaryTransparent: $primaryTransparent;
  red: $red;
  white: $white;
  white20: $white20;
  white70: $white70;
  whiteTint: $whiteTint;
}
