@mixin animateFromRight {
  -webkit-animation: animateFromRight 1s ease-out forwards;
  -moz-animation: animateFromRight 1s ease-out forwards;
  -ms-animation: animateFromRight 1s ease-out forwards;
  -o-animation: animateFromRight 1s ease-out forwards;
  animation: animateFromRight 1s ease-out forwards;

  @keyframes animateFromRight {
    0% {
      opacity: 0;
      transform: translateX(-100vw);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@mixin animateFromLeft {
  -webkit-animation: animateFromLeft 1s ease-out forwards;
  -moz-animation: animateFromLeft 1s ease-out forwards;
  -ms-animation: animateFromLeft 1s ease-out forwards;
  -o-animation: animateFromLeft 1s ease-out forwards;
  animation: animateFromLeft 1s ease-out forwards;

  @keyframes animateFromLeft {
    0% {
      opacity: 0;
      transform: translateX(100vw);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@mixin fadeIn {
  -webkit-animation: fadeIn 1s ease-out forwards;
  -moz-animation: fadeIn 1s ease-out forwards;
  -ms-animation: fadeIn 1s ease-out forwards;
  -o-animation: fadeIn 1s ease-out forwards;
  animation: fadeIn 1s ease-out forwards;

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@mixin animateFromBottom {
  -moz-animation: animateFromBottom 0.3s ease-out forwards;
  -ms-animation: animateFromBottom 0.3s ease-out forwards;
  -o-animation: animateFromBottom 0.3s ease-out forwards;
  -webkit-animation: animateFromBottom 0.3s ease-out forwards;
  animation: animateFromBottom 0.3s ease-out forwards;

  @keyframes animateFromBottom {
    0% {
      transform: translateY(100vh);
    }
    100% {
      transform: translateX(0);
    }
  }
}

.members-wrapper {
  .member-column {
    opacity: 0;
  }

  &.animate-in {
    .member-column {
      @include fadeIn;

      &:nth-child(1) {
        animation-delay: 0.25s;
      }

      &:nth-child(2) {
        animation-delay: 0s;
      }

      &:nth-child(3) {
        animation-delay: 0.5s;
      }
    }
  }
}

.project-wrapper {
  .project-content-wrapper {
    opacity: 0;
  }

  &.animate-in {
    .project-content-wrapper {
      opacity: 1;

      &.isOdd {
        .slide-wrapper {
          @include animateFromLeft;
        }
        .project-content {
          @include animateFromRight;
        }
      }

      &.isEven {
        .slide-wrapper {
          @include animateFromRight;
        }
        .project-content {
          @include animateFromLeft;
        }
      }
    }
  }
}

.form-wrapper {
  @include animateFromBottom;
}
