#footer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 115px 0;
  text-align: center;
  width: auto;
  position: relative;

  span {
    color: $black;
    font-size: 10pt;
    padding: 10pt 0;
  }

  .privacy-policy {
    align-items: center;
    background-color: $grayDark;
    border-radius: 100vw 0 0 100vw;
    cursor: pointer;
    display: flex;
    height: 70px;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 90px;
    transition: 0.3s;

    @media only screen and (max-width: "991px") {
      transform: translateY(-70px);
    }

    &:hover {
      width: 110px;

      span {
        padding-right: 20px;
      }
    }

    span {
      color: $white;
      font-size: 30px;
      font-weight: bold;
      transition: 0.3s;
    }
  }
}
