#footer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 115px 0;
  text-align: center;
  width: auto;

  @media screen and (max-width: 991px) {
    margin: 0 40px;
  }

  span {
    color: $black;
    font-size: 10pt;
    padding: 10pt 0;
  }
}
