main.privacy-policy {
  align-items: flex-start;

  .header {
    background-color: $primary;
    padding: 60px 0;
    width: 100vw;
    margin-left: -60px;

    @media only screen and (max-width: "769px") {
      margin-left: -30px;
    }

    .title {
      text-align: center;
      font-size: 40px;
      font-weight: bold;
      color: $white;
    }
  }

  .content {
    margin-top: 20px;
    max-width: 1400px;
    width: 100%;
    font-size: 16px;
    color: $black;

    .highlite {
      color: $primary;
    }

    a {
      color: $primary;
      cursor: pointer;
    }

    h1,
    h2,
    h3,
    h4 {
      color: $primary;
      font-weight: bold;
      margin: 35px 0 -10px 0;
    }

    h1 {
      font-size: 32px;
    }

    h2 {
      font-size: 28px;
    }

    h3 {
      font-size: 24px;
    }

    h4 {
      font-size: 20px;
    }

    p {
      margin: 25px 0;
    }

    b {
      font-weight: bold;
    }

    i {
      font-style: italic;
    }

    u {
      text-decoration: underline;
    }

    ol,
    ul {
      list-style: auto;
      margin: 25px 0 25px 30px;
    }
  }
}
